name: CI

on:
  push:
    branches: [master]

env:
  FOUNDRY_PROFILE: ci

jobs:
  test:
    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: foundry-rs/foundry-toolchain@v1

      - run: forge --version

      - id: fmt
        run: forge fmt --check

      - id: build
        run: forge build --sizes

      - id: test
        run: forge test -vvv
